{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-object-rest-spread",
    "add-module-exports",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
