{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalDecorators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier",
    "babel"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ]
  }
}
